# ALIASES
# Path
alias     ..="cd .."
alias    ...="cd ../.."
alias   ....="cd ../../.."
alias  .....="cd ../../../.."
alias ......="cd ../../../../.."

# Shell
alias la="ls -alFGgohq"
alias vi='vim'
# fancy ls command
  # -l  long format
  # -F  / after dirs, * after exe, @ after symlink
  # -G  colorize
  # -g suppress owner
  # -o suppress group
  # -h humanize sizes
  # -q print nongraphic chars as question marks
alias ll="ls -lFGgohq"

# Tmux
alias tml='tmux ls'
alias tmn='tmux new -s'
alias tma='tmux attach -t'
alias tmk='tmux kill-session -t'

# Git
alias gap='git add -p'
alias ga='git add'
alias gnap='git add -N . && git add -p'
alias gb='git branch'
alias gc='git commit -v'
alias git-ham='git commit -m "H.A.M." && git push -f'
alias gd='git diff --color-words'
alias glod='git log --graph --pretty="%Cgreen%h%Creset%Cblue%d%Creset %Cred%an%Creset: %s"'
alias gp='git push'
alias gpr='git pull --rebase'
alias gst='git status'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'
alias gra='git rebase --abort'
alias gcm="git commit -m"
alias gca="git commit --amend --no-edit"
alias gco="git checkout"
alias glog="git log --pretty=oneline"
alias gh='git config --get remote.origin.url | ruby -ne "puts %{https://github.com/#{\$_.split(/.com[\:\/]/)[-1].gsub(%{.git},%{})}}"| xargs open'
